/* PAGE STANDARDS */
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');

/* *, *::before, *::after {
    box-sizing: border-box;
} */

body {
    padding: 0;
    margin: 0;
    background-color: steelblue;
    font-family: 'Manrope', sans-serif;
    font-size: 1.2rem;
}

/* HEADER */
header {
    background-color: white;
}
/* SITE LOGO */
.logo {
    height: 50px;
    width: 50px;
}

.logo-us-text {
    font-weight: bold;
    color: rgb(44, 236, 18);
    text-decoration: none;
}

.logo-text {
    margin-left: .5rem;
}

.linked-logo {
    display: flex;
    align-items: center;
    font-size: 1.25rem;
    color: rgb(228, 106, 7);
    text-decoration: none;
}
/* SITE NAVIGATION */
.main-nav ul {
    display: flex;
    justify-content: space-around;
    margin: 0;
    padding-bottom: 1rem;
    list-style: none;
}

.main-nav a {
    color: rgb(228, 106, 7);
    text-decoration: none;
    font-weight: bold;
    padding: 1rem;
}

.main-nav a:hover {
    color: rgb(44, 236, 18);
}
/* FOOTER */
footer {
    background-color: white;
}

footer a {
    text-decoration: none;
    color: goldenrod;
    font-weight: bold;
}
footer p {
 text-align: center;
 font-size: .75rem;
 font-weight: bold;
 color: black;
}
.extra {
    display: flex;
    justify-content: space-evenly;
    padding-bottom: .5rem;
    padding-top: .5rem;
}
/* MAIN SECTION */
.main p {
    font-weight: bold;
    text-align: center;
    color: white;
    margin: 0;
    padding: 0;
}
.main {
    padding: 1.5rem;
    background-color: goldenrod
}
/* CATEGORIES SECTION */
.categories {
    text-align: center;
    
}
.categories a {
    text-decoration: none;
    color: goldenrod;
}
.categories a:hover {
   color: white;
}
.th-categories img {
    height: 150px;
    width: 150px;
}

