/* MAIN */
h3 {
    display: flex;
    justify-content: center;
    font-weight: bold;
    font-size: 2rem;
    color: goldenrod;
    padding-bottom: 3rem;
    margin: .5rem;
}
.main {
    padding-bottom: 2rem;
}
.main li {
    padding: 1rem;
}