.us {
    color: rgb(4, 40, 70);
    text-align: center;
    font-weight: bold;
    font-size: 2rem;
    margin: 0;
    padding: 0;
    padding-top: 1.5rem;
}
.pin {
    height: 425px;
    width: auto;
    padding-left: 3rem;
}

.main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 125px;
    padding-top: 75px;
}

.form {
    background-color: rgb(148, 207, 255);
    padding: 2rem 4rem;
    border-radius: 20px;
    border: 2px solid rgb(3, 46, 82);
}

.input-group {
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
    color: rgb(3, 46, 82);
}

.input-group:last-child {
    margin-bottom: 0;
    display: flex;
    align-items: center;
}

.input-group label {
    font-weight: bold;
    margin-bottom: .5rem;
}

.input-group input {
    outline: none;
    background: none;
    border: 1px solid steelblue;
    font-size: 1em;
    padding: .5em;
    color: rgb(16, 139, 240);
    border-radius: 5px;
}

.input-group input:focus {
    border-color: goldenrod;
}

.button {
    width: fit-content;
    color: rgb(3, 46, 82);
    background-color: goldenrod;
    padding: .75rem 1.5rem;
    border-radius: .5rem;
    text-decoration: none;
    font-size: .9rem;
    font-weight: bold;
    outline: none;
    border: none;
    cursor: pointer;
}

.button:hover {
    background-color: white;
}