<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AmusedUS</title>
    <link rel="stylesheet" href="/css/categorylayout.css">
    <link rel="stylesheet" href="/css/categorystyle.css">
</head>

<body>
    <header th:replace="fragments.html :: header"></header>
    <section class="main">
        <p>Welcome to amUSed (pronounced Amused Us)! Here, our team of dedicated entertainment seekers have compiled a
            selection of the best of the best entertainment destinations. Currently our listings are limited to the
            United States but we are looking to broaden our horizons soon, because great entertainment has no border
            constraints!</p>
    </section>
    <section class="category-options">
        <h3 id="destination-categories">Destination Categories</h3>
        <div class="categories">
            <section class="th-categories">
                    <a th:each="thing: ${categories}" th:href="'/categories/' + ${thing.id}">
                        <img th:src="${thing.imgUrl}">
                        <h4 th:text="${thing.name}"></h4>
                    </a>
            </section>
        </div>
    </section>
    <footer th:replace="fragments.html :: footer"></footer>
</body>

</html>