<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AmusedUS</title>
    <link rel="stylesheet" href="/css/categorylayout.css">
    <link rel="stylesheet" href="/css/categorystyle.css">
</head>

<body>
    <header>
        <a href="/categories" class="linked-logo">
            <img src="/images/FWlogo.png" alt="ferris wheel logo" class="logo">
            <div class="logo-text"><span>am</span><span class="logo-us-text">US</span>ed</div>
        </a>
        <nav class="main-nav">
            <ul>
                <li><a href="/categories">Destination
                        Categories</a></li>
                <li><a href="/hashtag">Hashtags</a></li>
            </ul>
        </nav>
    </header>
    <section class="main">
        <p>Welcome to amUSed (pronounced Amused Us)! Here, our team of dedicated entertainment seekers have compiled a
            selection of the best of the best entertainment destinations. Currently our listings are limited to the
            United States but we are looking to broaden our horizons soon, because great entertainment has no border
            constraints!</p>
    </section>
    <section class="category-options">
        <h3 id="destination-catergories">Destination Categories</h3>
        <div class="categories">
            <ul>
                <li th:each="thing: ${categories}">
                    <a th:text="${thing.name}" th:href="'/categories/' + ${thing.id}">category</a>
                </li>
            </ul>
        </div>
    </section>
    <footer>
        <div class="extra">
            <a href="ourteam.html">Meet Our Team</a>
            <p>All Rights Reserved 2022</p>
            <a href="suggestions.html">Suggestion Box</a>
        </div>
    </footer>
</body>

</html>