<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Category Name</title>
    <link rel="stylesheet" href="/css/singlecatlayout.css">
    <link rel="stylesheet" href="/css/singlecatstyle.css">
</head>

<body>
    <header>
        <a href="/categories" class="linked-logo">
            <img src="images/FWlogo.png" alt="ferris wheel logo" class="logo">
            <div class="logo-text"><span>am</span><span class="logo-us-text">US</span>ed</div>
        </a>
        <nav class="main-nav">
            <ul>
                <li><a href="/src/main/resources/static/category.html#destination-catergories">Destination
                        Categories</a></li>
                <li><a href="/src/main/resources/static/hashtag.html">Hashtags</a></li>
            </ul>
        </nav>
    </header>
    <div class="pic-and-info">
        <img src="/src/main/resources/static/images/large/ZoombeziBayLG.jpg" alt="" class="category-pic">
        <p>info about the category</p>
    </div>
    <div class="main">
<!--        <nav>-->
<!--            <section><a href="destination.html"><img-->
<!--                        src="/src/main/resources/static/images/pexels-stephen-niemeier-63703.jpg"></a></section>-->
<!--            <section><a href="destination.html"><img-->
<!--                        src="/src/main/resources/static/images/pexels-stephen-niemeier-63703.jpg"></a></section>-->
<!--            <section><a href="destination.html"><img-->
<!--                        src="/src/main/resources/static/images/pexels-stephen-niemeier-63703.jpg"></a></section>-->
<!--            <section><a href="destination.html"><img-->
<!--                        src="/src/main/resources/static/images/pexels-stephen-niemeier-63703.jpg"></a></section>-->


<!--        </nav>-->

        <ul>
            <li th:each="destination: ${category.destinations}">
                <a th:text="${destination.title}" th:href="${}"
            </li>
        </ul>
    </div>

    <footer>
        <div class="extra">
            <a href="ourteam.html">Meet Our Team</a>
            <p>All Rights Reserved 2022</p>
            <a href="suggestions.html">Suggestion Box</a>
        </div>
    </footer>
</body>

</html>