<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Destination</title>
    <link rel="stylesheet" href="css/destinationlayout.css">
    <link rel="stylesheet" href="css/destinationstyle.css">
</head>

<body>
    <header>
        <a href="/src/main/resources/static/category.html" class="linked-logo">
            <img src="images/FWlogo.png" alt="ferris wheel logo" class="logo">
            <div class="logo-text"><span>am</span><span class="logo-us-text">US</span>ed</div>
        </a>
        <nav class="main-nav">
            <ul>
                <li><a href="/src/main/resources/static/category.html#destination-categories">Destination Categories</a></li>
                <li><a href="/src/main/resources/static/hashtag.html">Hashtags</a></li>
            </ul>
        </nav>
    </header>

    <div class="main">
        <section class="description">
            <section class="title">
                <p>title of the destination</p>
            </section>
            <section class="address">
                <p>address of the destination</p>
            </section>
            <section class="contact">
                <p>123-123-1234</p>
            </section>
            <section class="ticket">
                <p>cost of ticket</p>
            </section>
        </section>
        <section class=rating>
            <p>average rating</p>
        </section>
        <section class="reviews">
            <p>this is where the reviews will be</p>
            <p>this is where the rating is</p>
        </section>
    </div>

    <footer>
        <div class="extra">
            <a href="ourteam.html">Meet Our Team</a>
            <p>All Rights Reserved 2022</p>
            <a href="suggestions.html">Suggestion Box</a>
        </div>
    </footer>
</body>

</html>