<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Destination</title>
    <link rel="stylesheet" href="/css/destinationlayout.css">
    <link rel="stylesheet" href="/css/destinationstyle.css">
</head>

<body>
    <div th:replace="fragments.html :: header"></div>

    <div class="main">
        <section class="description">
            <section class="title">
                <h2 th:text="${destination.title}"></h2>
                <div class="sideview">
                    <img th:src="${destination.imgUrl}">
                    <div class="address-website">
                    <section class="address">
                        <h4>Destination Address</h4>
                        <p th:text="${destination.address}"></p>
                    </section>
                    <section class="website">
                        <h4>Destination Website</h4>
                        <a th:text="${destination.destinationUrl}" th:href="${destination.destinationUrl}"></a>
                    </section>
                    </div>
                </div>
            </section>
            <section class="ticket">
                <h4>Ticket Price/SeasonPass</h4>
                <p th:text="${destination.ticketPriceSeasonPrice}"></p>
                <h6>*Ticket prices are based on a basic single weekday adult admission ticket bought in-person (excludes
                    online, group and other discounts as well as no perks, add-ons, or applicable taxes).</h6>
            </section>
        </section>
        <hr>
        <section class="rating">
            <h4>Rating</h4>
            <div class="p-group">
                <p th:text="${destination.rating}"></p>
                <p class="constant">/5</p>
            </div>
        </section>
        <section class="reviews">
            <h4>Reviews</h4>
            <p th:text="${destination.review}"></p>
        </section>
        <section class="hashtag">
            <h4>#Hashtags</h4>
            <ul>
                <li th:each="thing: ${destination.hashtags}">
                    <a th:text="${thing.hashtagDescription}" th:href="'/hashtags/' + ${thing.id}">asdf</a>
                </li>
            </ul>
        </section>
    </div>
    <div th:replace="fragments.html :: footer"></div>
</body>

</html>