<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Destination</title>
    <link rel="stylesheet" href="/css/destinationlayout.css">
    <link rel="stylesheet" href="/css/destinationstyle.css">
</head>

<body>
<div th:replace="fragments.html :: header"></div>

    <div class="main">
<!--        <section class="description">-->
<!--            <section class="title">-->
<!--                <p>title of the destination</p>-->
<!--            </section>-->
<!--            <section class="address">-->
<!--                <p>address of the destination</p>-->
<!--            </section>-->
<!--            <section class="contact">-->
<!--                <p>123-123-1234</p>-->
<!--            </section>-->
<!--            <section class="ticket">-->
<!--                <p>cost of ticket</p>-->
<!--            </section>-->
<!--        </section>-->
<!--        <section class=rating>-->
<!--            <p>average rating</p>-->
<!--        </section>-->
<!--        <section class="reviews">-->
<!--            <p>this is where the reviews will be</p>-->
<!--            <p>this is where the rating is</p>-->
<!--        </section>-->

        <section class="description">
            <section class="title">
                <p th:text="${destination.title}">asdf</p>
            </section>
            <section class="address">
                <p th:text="${destination.address}">asdf</p>
            </section>
        </section>
        <section class="rating">
            <section class="rating">
                <p th:text="${destination.rating}">asdf</p>
            </section>
        </section>
        <section class="reviews">
            <p th:text="${destination.review}">asdf</p>
        </section>
        <section class = "hashtag">
            <ul>
                <li th:each="thing: ${destination.hashtags}">
                    <a th:text="${thing.hashtagDescription}" th:href="'/hashtags/' + ${thing.id}">asdf</a>
                </li>
            </ul>
        </section>




    </div>

<div th:replace="fragments.html :: footer"></div>
</body>

</html>