<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hashtag Destinations</title>
    <link rel="stylesheet" href="/css/hashtagdestinationlayout.css">
    <link rel="stylesheet" href="/css/hashtagdestinationstyle.css">
</head>

<body>
    <div th:replace="fragments.html :: header"></div>
    <div class="main">
        <h1 th:text="${hashtagdestination.hashtagDescription}"></h1>
        <ul>
            <li th:each="thing: ${hashtagdestination.destinations}">
                <img th:src="${thing.imgUrl}" class="category-pic">
                <a th:text="${thing.title}" th:href="'/destination/' + ${thing.id}"></a>
            </li>
        </ul>
    </div>
    <div th:replace="fragments.html :: footer"></div>

</body>

</html>