<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hashtags</title>
    <link rel="stylesheet" href="/css/hashtaglayout.css">
    <link rel="stylesheet" href="/css/hashtagstyle.css">
</head>

<body>
<div th:replace="fragments.html :: header"></div>
    <h3>#Hashtags</h3>
    <div class="main">
        <ul>
            <li th:each="thing: ${hashtag}">
                <a th:text="${thing.hashtagDescription}" th:href="'/hashtags/' + ${thing.id}">asdf</a>
            </li>
        </ul>
    </div>

<div th:replace="fragments.html :: footer"></div>
</body>

</html>