<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Meet Our Team</title>
    <link rel="stylesheet" href="css/ourteamlayout.css">
    <link rel="stylesheet" href="css/ourteamstyle.css">
</head>
<body>
<div th:replace="fragments.html :: header"></div>
<section class="main">
    <h3>The Amused (Our Team)</h3>
    <p>Although we're known by many other names; the entertained, weekend warriors, <span class="those">those </span> thrillseekers, and those <span class="quote">"you've gotta go there..."</span> preachers.<br> We have <span class="fun">FUN</span> to make sure that you can too!</p>
</section>
<section class="team">
    <article class="a">
        <h4>Abdulrizaq<br>Ali</h4>
        <img src="" alt="">
        <p>My Favorite Destination:<br><span class="hash">Fun #HASHTAG about self</span><br><span class="rating">Rating: 5</span></p>
    </article>
    <hr>
    <article class="b">
        <h4>Arsema<br>Berhe</h4>
        <img src="" alt="">
        <p>My Favorite Destination:<br><span class="hash">Fun #HASHTAG about self</span><br><span class="rating">Rating: 5</span></p>
    </article>
    <hr>
    <article class="a">
        <h4>Taylour<br>Harris</h4>
        <img src="" alt="">
        <p>My Favorite Destination:<br><span class="hash">Fun #HASHTAG about self</span><br><span class="rating">Rating: 5</span></p>
    </article>
    <hr>
    <article class="b">
        <h4>Aaron<br>Kuhman</h4>
        <img src="" alt="">
        <p>My Favorite Destination:<br><span class="hash">Fun #HASHTAG about self</span><br><span class="rating">Rating: 5</span></p>
    </article>
    <hr>
    <article class="a">
        <h4>Chandan<br>Patel</h4>
        <img src="" alt="">
        <p>My Favorite Destination:<br><span class="hash">Fun #HASHTAG about self</span><br><span class="rating">Rating: 5</span></p>
    </article>
</section>
<div th:replace="fragments.html :: footer"></div>
</body>
</html>